<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Five Lives</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">  
    <link rel="stylesheet" href="/css/style.css"/>


  </head>

  <body>
    <section class="hero is-primary">
      <div class="hero-body">
        <p class="title">
          Five Lives
        </p>
        <p class="subtitle">
          Gaming Forum
        </p>
        <div class="hero-head">
          <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
          
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenuHeroA">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
              <div id="navbarMenuHeroA" class="navbar-menu">
                <div class="navbar-end">
                  <a class="navbar-item" href="/">Home</a>
                  </a>
                  <a class="navbar-item" href="/search">Browse</a>
                  </a>
                  <a class="navbar-item" href="/submissions">Submissions</a>
                  </a>
                   <a class="navbar-item" href="/new-submission">New Submission</a>
                  </a>
                  {{#if session.logged_in}}
                  <p id="logout-button" class="navbar-item">Logout</p>
                  {{else}}
                  <a class="navbar-item" href="/login">Login</a>
                  {{/if}}
                  </a>
                </div>
              </div>
            </div>
          </nav>
    </section>
    {{{body}}}
    <script src="/js/script.js"></script>
  </body>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
      <a href="https://github.com/tannerkothlow/five-lives-game-forum">Github</a>
      </p>
    </div>
  </footer>
    <script>
document.addEventListener('DOMContentLoaded', () => {

// Get all "navbar-burger" elements
const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

// Add a click event on each of them
$navbarBurgers.forEach( el => {
  el.addEventListener('click', () => {

    // Get the target from the "data-target" attribute
    const target = el.dataset.target;
    const $target = document.getElementById(target);

    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
    el.classList.toggle('is-active');
    $target.classList.toggle('is-active');

  });
});

});
  </script>
</html>