<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Five Lives</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">  
    <link rel="stylesheet" href="/css/style.css"/>


  </head>

  <body>
    <section class="hero is-primary">
      <div class="hero-body">
        <p class="title">
          Five Lives
        </p>
        <p class="subtitle">
          Gaming Forum
        </p>
        <div class="hero-head">
          <nav class="navbar">
            <div class="container">
              <div class="navbar-brand">
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                </a>
              </div>
              <div id="navbarMenuHeroA" class="navbar-menu">
                <div class="navbar-end">
                  <a class="navbar-item" href="/">Home</a>
                  </a>
                  <a class="navbar-item" href="/search">Browse</a>
                  </a>
                  <a class="navbar-item" href="/submissions">Submissions</a>
                  </a>
                   <a class="navbar-item" href="/new-submission">New Submission</a>
                  </a>
                  <a class="navbar-item" href="/login">Login</a>
                  </a>
                </div>
              </div>
            </div>
          </nav>
    </section>
    {{{body}}}
  </body>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
      <a href="https://github.com/tannerkothlow/five-lives-game-forum">Github</a>
      </p>
    </div>
  </footer>
</html>