{{#if reviews}}
<section class="section">
  <h1 class="title">Review: {{this.title}}</h1>
  <h2 class="subtitle">
   {{this.post_text}}
  </h2>
</section>
{{/if}}
{{#if guides}}
<section class="section">
  <h1 class="title">Guide: {{this.title}}</h1>
  <h2 class="subtitle">
   {{this.post_text}}
  </h2>
</section>
{{/if}}