<label for="post">Post Title:</label>

<input type="text" name="title" required
       minlength="4" maxlength="30" size="10">

<label for="post_text">Post Text:</label>

<textarea name="post_text" rows="4" cols="50" required>

</textarea>