<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Genre
  </a>

  <ul class="dropdown-menu">
    {{#for each Genre}}
    <li><a class="dropdown-item" href="#{{genre.name}}">{{genre.name}}</a></li>
    {{/for}}
  </ul>
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
   Reviews or Guides
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#reviews">Reviews</a></li>
    <li><a class="dropdown-item" href="#guides">Guides</a></li>
    <li><a class="dropdown-item" href="#/">All</a></li>
  </ul>
</div>

<label for="search">Search:</label>
<input type="search" name="search">

<button>Search</button>