#logout-button {
    color: white;
}

#logout-button:hover {
    cursor: pointer;
}

.rg-header{
    margin-top: 3%;
    margin-left: 3%;
    padding-bottom: 1%;
    font-weight: 500;
    border-bottom: 1px solid black;
    width: 50%
}
